@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --header-height: 110px;
}

/* HEADER */
.top-header {
  position: fixed !important;
  top: 0 !important;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 99999 !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 18px 0 8px 10%;
  box-sizing: border-box;
  background: #ffffffc7;
}

.page-title {
  font-size: 50px;
  font-weight: 900;
  color: #000000;
  margin: 0;
  line-height: 1.1;
}

.line {
  width: 80%;
  height: 2px;
  background-color: black;
  margin-top: 24px;
  margin-left: 10%;
  opacity: 0.9;
}

/* CORPO */
body {
  padding-top: calc(var(--header-height) + 8px) !important;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;     /* empilha conteúdo verticalmente */
  align-items: center;        /* centraliza horizontalmente */
  justify-content: flex-start;
  min-height: 100vh;          /* deixa crescer conforme o conteúdo */
  overflow-x: hidden;
  margin: 5px;
}

/* CONTAINER DE FOTOS */
.container {
  display: flex;
  width: 90vw;
  margin-top: 20px;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 5000
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}


.music-link {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.music-link a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 12px;
  transition: background 0.3s;
}

.music-link a:hover {
  background: #000;
  color: #fff;
}

.titulo-carta {
  font-size: 32px;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
}

.texto {
  width: 90vw;
  max-width: 800px;
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.6;
  text-items: left;

}
/* RESPONSIVO */
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }

  .page-title {
    font-size: 32px;
  }

  .music-player iframe {
    height: 60px;
  }
}

.letra-musica {
  text-align: center;
  font-style: italic;
  margin-top: 20px;
  font-size: 18px;
  color: #000000;
}

.carta-texto {
  text-align: center;
  color: #000000;
}